  body {
    background-color: lightblue;
    font-family: "Verdana";
    font-weight: bold;
    color: DarkGreen;
  }
  div.stretchy-wrapper {
  	width: 100%;
  	padding-bottom: 48.5%;
    position: relative;
  }
  div.stretchy-wrapper > div {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
  }
  .boardtable {
    background-color:slategrey;
    border-radius: 20px;
    table-layout: fixed;
    border-spacing: 10px;
    width:100%;
    height:100%;
  }
  div.stretchy-wrapper-bottom {
  	width: 100%;
  	padding-bottom: 4.8%; /* 15:1 */
    position: relative;
  }
  div.stretchy-wrapper-bottom > div {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
  }
  .buttable {
    table-layout: fixed;
    border-spacing: 10px;
    width:100%;
    height:100%;
  }
  .tdboard {
    text-align: center;
    border: 4px solid Brown;
    border-radius: 20px;
    font-family: "Verdana";
    font-weight: bold;
    background-color: AntiqueWhite;
    color: Black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .but {
    text-align: center;
    border: 2px solid Black;
    border-radius: 10px;
    font-family: "Verdana";
    font-weight: bold;
    background-color: DarkGreen;
    color: White;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
  }
