body {
    background-color: lightsteelblue;
    width: 406px;
}

.channelHeader {
	font-weight: bold;
}

.chartContainer {
	position: relative;
}

.graphBox {
    width: 396px;
    height: 300px;
	border: 1px;
    border-style: solid;
    border-color: navy;
    background-color: lightblue;
}

.graphBoxWSpinner {
	top:0px;
    width: 396px;
    height: 300px;
	border: 1px;
	position: absolute;
    pointer-events: none;
}

.spinCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.viewportFixed {
	height: 100%;
	position: fixed;
}

.pageDiv {
	height: 100%;
	display: flex;
	flex-flow: column;
}

.chartBox {
	margin-bottom: 8px;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}